.navbar {
  background-color: #e0cdcd;
  padding: 15px;
  text-align: right;
}
#toggle {
  display: none;
}
.menu {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

.menuIcon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #333;
    top: 60px;
  }

  .menu a {
    padding: 15px;
    border-bottom: 1px solid #555;
  }

  .menu-icon {
    display: block;
  }

  #toggle:checked + .menu {
    display: flex;
  }
}
